#searchText:focus{
    width: 600px;
}

#searchText{
    width:200px;
    height:30px;
    text-align: center;
    border-radius:42px;
    border:2px solid #324B4E;
    background:#99999920;
    text-align: center;
    transition:0.3s linear;
    /*linear:元素样式从初始状态过渡到终止状态的速度是恒速*/
    outline:none;
}

#searchOptBox input{
    border-radius: 40px;
    width: 80px;
    height: 40px;
    margin-right: 20px;
    margin-top: 15px;
    border: #99999950;
    background-color: #99999950;
    /*下面的代码解决button点击后有蓝色框框的问题*/
    outline:none;
}

.list-group{
    width: 600px;
    background-color: #99999940;
    text-align: left;
    margin-left: 26%;
    border-radius: 16px;
    font-weight: normal;
    font-size: 15px;
}
